.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: ghostwhite; */
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header .logo {
    max-height: 32px;
}

.header .title-group {
    padding-right: 25px;
}

.header .title-icon{
    font-weight: lighter;
    color: white
}

.header .material-icons {
    padding-right: 5px;
}